<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libiconv.vp" version="1.14.0.1" targetFramework="native" />
  <package id="libiconv.vp.redist" version="1.14.0.1" targetFramework="native" />
  <package id="libintl.vp" version="0.19.8.3" targetFramework="native" />
  <package id="libintl.vp.redist" version="0.19.8.3" targetFramework="native" />
  <package id="sdl2" version="2.0.5" targetFramework="native" />
  <package id="sdl2.redist" version="2.0.5" targetFramework="native" />
</packages>